<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./_head.ejs') %>

    <title>Cellos & Violins Dashboard</title>
</head>
<body>
    <header>
        <%- include('./_header.ejs') %>
    </header>
    <main id="dashboard">
        <% productTypes.forEach(type => { %>
            <div class="card dashcard border" style="width: 18rem;">
                <div class="card-body">
                    <h3 class="card-title"><a class="lk-rm" href="/<%= type.name %>"><%= type.name %></a></h3>
                    <p>Quantity: <%= type.quantity %></p>
                    <p>Average Price: <%= type.avgPrice %></p>
                    <p>Average Cost: <%= type.avgCost %></p>
                    <p>Average Margin: <%= type.avgMargin %></p>
                    <div class="card-body btn-group dash-btn-grp " role="group" aria-label="Basic example">
                        <a href="/<%= type.name %>">
                            <button type="button" class="btn btn-secondary gray-bg" style="border-radius: 3px 0 0 3px;">Details</button>
                        </a>
                        <a href="/<%= type.name %>/new">
                            <button type="button" class="btn btn-secondary gray-bg" style="border-radius: 0 3px 3px 0;">Add new</button>
                        </a>
                    </div>
                </div>
            </div>
        <% }) %>
        <section class="card dashcard border" style="width: 18rem;">
            
            <div class="card-body">
                <h3>Monthly Finances</h3>
                <p>Sales:        $1,254,672</p>
                <p>Inventory cost: $785,624</p>
                <p>Operation Cost: $328,356</p>
                <p>Profit Margin:  $140,692</p>
                <div class="chart">
                    historical sales chart
                </div>
            </div>
        </section>
    </main>
        
<%- include("./_footer.ejs") %> 

</body>
</html>     