<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./head.ejs') %>

    <title>Show Page</title>
</head>
<body>
    <header>
        <%- include('./header.ejs') %>
    </header>
    <main>
        <div>
            <h2><%= prodType %></h2>
            <h3><%= priorProdType %></h3>
            <% if (prodType !== 'accessories' && prodType !== 'maker' && prodType !== 'bow') { %>    
                <a href="/maker/new?_priorProdType=<%= prodType %>"><button type="submit">Add New Maker</button></a>
                <br>
            <% } %>
            <form action="/<%= prodType %>/<%= Product._id %>?_priorProdType=<%= priorProdType %>&_method=PUT" method="POST">
                <div class="form-group">
                <% if (prodType !== 'accessories' && prodType !== 'maker' && prodType !== 'bow') { %>    
                    <label for="Maker">Maker</label>
                    <select type="text" id="maker" name="makerId"> 
                        <% for (let i = 0; i < makers.length; i++) { %>
                            <option value="<%= makers[i]._id %>"
                                <%= makers[i]._id.toString() === Product._id.toString() ? 'seleted': null %>
                            ><%= makers[i].name %></option>
                        <% } %>
                    </select>
                    <br>        
                <% } %>
                <% for (let [key] of Object.entries(schema)) { %>
                    <% if (key !== 'products' && key !== 'bio') { %>
                        <div class="input-group mb-2">
                            <label class="sr-only" for="<%= `${key}` %>"><%= `${key}: ` %></label>
                            <div class="input-group-prepend">
                                <div class="input-group-text"><%= `${key}: ` %></div>
                            </div>
                            <input type="text" class="form-control" name="<%= `${key}` %>" id="<%= `${key}` %>" value="<%= Product[key] %>">
                        </div>
                        <br>
                    <% } else if (key === 'bio') { %>
                        <label for="<%= `${key}` %>"><%= `${key}: ` %></label>
                        <textarea name="<%= `${key}` %>" id="<%= `${key}` %>" value="<%= Product[key] %>" cols="30" rows="10"></textarea>
                        <br>
                    <% } %>  
                <% } %>  
            
                <button type="submit">Submit</button>
            </div>
            </form>
        </div>
    </main>
    
</body>
</html>