<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Index</title>
</head>
<body>
    <header>
        <%- include('./header.ejs') %>
    </header>
    <main>
        <section class="products">
            <h2><%= product.type %></h2>
            <div>generic product type image place holder</div>
            <table class="product-table">
                <tr class="table-heading">
                    <th class="table-column name-column">Name</th>
                    <th class="table-column status-column">Status</th>
                    <th class="table-column qty-column">Quantity</th>
                    <th class="table-column price-column">Price</th>
                    <th class="table-column cost-column">Cost</th>
                    <th class="table-column edit-column"></th>
                    <th class="table-column delete-column"></th>
                </tr>
                <% products.forEach(product => { %>
                    <tr class="table-row">
                        <td class="clickable-row" data-href="/<%= product.type %>/<%= product._id %>">
                            <% if (product.type !== "accessories") { %>
                                <%= product.maker.name %> <%= product.year %> <br>
                                <%= product.title %>
                            <% } else { %>
                                <%= product.name %>
                            <% } %>
                        </td>
                        <td><%= product.status %></td>
                        <td><%= product.quantity %></td>
                        <td><%= product.price %></td>
                        <td><%= product.cost %></td>
                        <td>
                            <form action="/<%= product.type %>/<%= product._id %>/edit" method="GET">
                                <button type="submit">Update</button>
                            </form>
                        </td>
                        <td>
                            <form action="/<%= product.type %>/<%= product._id %>$_method=DELETE" method="POST">
                                <button type="submit">Delete</button>
                            </form>
                        </td>
                    </tr>
                <% }) %>
            </table>
        </section>
    </main>
</body>
</html>