<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./_head.ejs') %>
    <link rel="stylesheet" href="/css/index.css">
    <% const currencyStyle = { style: 'currency', currency: 'USD' } %>
    <title><%= prodType %> Index</title>
</head>
<body>
    <header>
        <%- include('./_header.ejs') %>
    </header>
    <main>
        <section class="products">
            <div class="title">
                <h2><%= prodType %></h2>
                <% if (prodType !== 'sales') { %> 
                    <a href="/<%= prodType %>/new">
                        <button type="button" class="btn btn-secondary">Add new</button>
                    </a>
                <% } else { %>
                    <h3> - Demo Only - future module to be build</h3>
                <% } %>
            </div>
            <% products.forEach(product=> { %>
                <div class="table-row">
                    <div class="table-cell row-name" data-href="/<%= prodType %>/<%= product._id %>">
                        <% if (prodType !== "accessories") { %>
                            <%= product.maker.name %> <%= product.year %> <br>
                            <%= product.title %>
                        <% } else { %>
                            <%= product.name %>
                        <% } %>
                        </div>
                    <div class="table-cell row-status"><%= product.status %></div>
                    <div class="table-cell row-quantity">Qty: <%= Intl.NumberFormat('en-US').format(product.quantity) %></div>
                    <div class="tabl-cell row-price-cost">
                        <div class="table-cell row-price">Price: <br><%= Intl.NumberFormat('en-US', currencyStyle).format(product.price) %></div>
                        <div class="table-cell row-cost">Cost: <br><%= Intl.NumberFormat('en-US', currencyStyle).format(product.cost) %></div>
                    </div>
                    <div class="table-cell btn-group row-action" role="group" aria-label="Basic example">
                        <form action="/<%= prodType %>/<%= product._id %>" method="GET">
                            <button type="submit" type="button" class="btn btn-secondary">Detail</button>
                        </form>
                        <form action="/<%= prodType %>/<%= product._id %>/edit" method="GET">
                            <button type="submit" type="button" class="btn btn-secondary">Update</button>
                        </form>
                        <form action="/<%= prodType %>/<%= product._id %>?_method=DELETE" method="POST">
                            <button type="submit" type="button" class="btn btn-secondary delete-btn">Delete</button>
                        </form>
                    </div>
                </div>
            <% }) %>
        </section>
    </main>
<%- include("./_footer.ejs") %> 

</body>
</html>