<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Page</title>
</head>
<body>
    <header>
        <%- include('./header.ejs') %>
    </header>
    <main>
        <div>
            <form action="/" method="POST">
                <!-- find a way to get a progressive form -->
                <label for="Maker">Maker</label>
                <select type="text" id="maker" name="maker"> 
                    <% for (let i = 0; i < makers.length; i++) { %>
                        <option value="<%= makers[i].name %>"><%= makers[i].name %></option>
                        <% } %> 
                </select>
                <br>
                <% for (let [key] of Object.entries(accessorySchema)) { %>
                    <label for="<%= `${key}` %>"><%= `${key}: ` %></label>
                    <input type="text" name="<%= `${key}` %>" id="<%= `${key}` %>">
                    <br>
                <% } %>  
            
                <button type="submit">Add</button>
            </form>
        </div>
    </main>
    
</body>
</html>