<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./_head.ejs') %>

    <title>Show Page</title>
</head>
<body>
    <header>
        <%- include('./_header.ejs') %>
    </header>
    <main>
        <div>
            <div class="title form-head wcf">
                <h2 class="card border new-title"><%= prodType %></h2>
                <% if (prodType !== 'accessories' && prodType !== 'maker' && prodType !== 'bow') { %>    
                    <a href="/maker/new?_priorProdType=<%= prodType %>"><button type="submit" class="btn btn-secondary border new-maker">Add New Maker</button></a>
                    <br>
                <% } %>
            </div>  
            <form action="/<%= prodType %>?_priorProdType=<%= priorProdType %>" method="POST">
                <div class="form-group">
                <% if (prodType !== 'accessories' && prodType !== 'maker' && prodType !== 'bow') { %>  
                    <div class="maker-drop border"> 
                        <label for="maker" class="maker-label">Maker</label>
                        <select class="border" type="text" id="maker" name="makerId"> 
                            <% for (let i = 0; i < makers.length; i++) { %>
                                <option value="<%= makers[i]._id %>"><%= makers[i].name %></option>
                            <% } %>
                        </select>
                    </div> 
                    <br>        
                <% } %>
                <% for (let [key] of Object.entries(schema)) { %>
                    <% if (key.required === true) console.log('required') %>
                    <% if (key !== 'products' && key !== 'bio') { %>
                        <div class="border form-line">
                            <label class="form-label" for="<%= `${key}` %>"><%= `${key}: ` %></label>
                            <!-- <div class="input-group-text"><%= `${key}: ` %></div> -->
                            <input type="text" class="border form-control" name="<%= `${key}` %>" id="<%= `${key}` %>">
                            <br>
                        </div>
                    <% } else if (key === 'bio') { %>
                        <label for="<%= `${key}` %>"><%= `${key}: ` %></label>
                        <textarea name="<%= `${key}` %>" id="<%= `${key}` %>" cols="30" rows="10"></textarea>
                        <br>
                    <% } %>  
                <% } %>  
            
                <button type="submit" class="btn btn-secondary submit border tm-20">Submit</button>
            </div>
            </form>
        </div>
    </main>
<%- include("./_footer.ejs") %> 
    
</body>
</html>