<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Page</title>
</head>
<body>
    <header>
        <%- include('./header.ejs') %> 
    </header>
    <main>
        <div>
            <h3><%= Product.maker %></h3>
            <%= for (let [key, value] of Object.entries(Product)) { %>
                <% if (Product.key === 'description') return; %>
                <p><%= `${key}: ${value}` %> </p>
            <%= } %>   

            <a href="/Product/<%= Product._id %>/edit">
                <button>Edit</button>
            </a>
            <form action="/product/<%= product._id %>?_method=DELETE" method="POST">
                <button type="submit">Delete</button>
            </form>
        </div>
        <div><img src="<%= Product.photos %>"></div>
        <div>logs of events related to this product</div>
        <div><%= Product.description %></div>
    </main>
    
</body>
</html>