<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./_head.ejs') %>
    <link rel="stylesheet" href="/css/show.css">
    <% const currencyStyle = { style: 'currency', currency: 'USD' } %>
    <title>Show Page</title>
</head>
<body>
    <header>
        <%- include('./_header.ejs') %> 
    </header>
    <main>
        <section class="container">
            
            <div class="card">
                <h3 class="card-body"><%= prodMaker.name %></h3>
                <% for (let [key, value] of Object.entries(Product)) { %>
                    <% if (key !== 'description' && key !== 'photo' && key !== '_id' && key !== '__v' && key !== 'createdAt' && key !== 'updatedAt') { %>
                        <p  class="card-body">
                            <% if (`${key}` === 'price' || `${key}` === 'cost') { %>
                                <%= `${key}: ` %><%= Intl.NumberFormat('en-US', currencyStyle).format(value) %> 
                            <% } else if (`${key}` === 'quantity') { %>
                                <%= `${key}: ` %><%= Intl.NumberFormat('en-US').format(value) %> 
                            <% } else { %>
                                <%= `${key}: ${value}` %> 
                            <% } %>
                        </p>
                <% }} %>   

                <div class="btn-group" role="group" style="display: flex; justify-content: flex-end;">
                    <a href="/<%= prodType %>/<%= Product._id %>/edit">
                        <button type="button" class="btn btn-secondary">Edit</button>
                    </a>
                    <form action="/<%= prodType %>/<%= Product._id %>?_method=DELETE" method="POST">
                        <button type="submit" type="button" class="btn btn-secondary" style="background-color: rgba(150, 7, 7, 0.925);">Delete</button>
                    </form>
                </div>
            </div>
            <div ><img src="<%= Product.photo %> " class="show-photo"></div>
            <% if (Product.description) { %>
                <div class="description"><%= Product.description %></div>
            <% } %>
        </section>
    </main>
<%- include("./_footer.ejs") %> 
    
</body>
</html>